:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;

}

body {
  background-color: var(--body-bg-color);
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
		"aside main main"
		"footer footer footer"
    ;
}
aside {
  margin-top: 10px;
  margin-left: 10px;
  grid-area: aside;
}
main {
  grid-area: main;
  margin-top: 10px;
}
img {
  /* display: block; */
  /* max-width: 100%; */
}
h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.card {
  background-color: var(--bg-cards);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  margin: 30px;
}

.profile-card {
  width: 348px;
  height: 292px;
  display: flex;
  align-items: center;
}
.profile-card img {
  display: block;
  max-width: 128px;
  margin-bottom: 30px;
}
.profile-card h1 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
}
.profile-card p {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.links-card {
  width: 348px;
  background-color: var(--bg-cards);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 20px 40px;
}
.links-card a {
  margin: 10px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.links-card a img {
  margin-right: 20px;
  filter: invert(60%) sepia(1%) saturate(6437%) hue-rotate(209deg) brightness(86%) contrast(82%)
}

.tecnologias-card {
  width: 348px;
  background-color: var(--bg-cards);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 30px 20px 15px 20px;
}
.tecnologias-card h1 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.tecnologias-card span {
  align-self: center;
  display: inline-block;
  width: 86px;
  border-radius: 30px;
  padding: 6.5px 0px;
  background: #CB92B1;
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
}

.experiencias-card {
  width: 348px;
  background-color: var(--bg-cards);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 30px 20px 10px 20px;
}
.experiencias-card h1 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.primeira-lista {
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  padding-left: 45px;
}
.primeira-lista ul li:nth-child( 2n ) {
  margin-bottom: 20px;
}
.experiencias-card ul li ul li {
  list-style-type: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.educacao-card {
  width: 348px;
  background-color: var(--bg-cards);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 30px 20px 10px 20px;
}
.educacao-card h1 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.educacao-card ul li ul li {
  list-style-type: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}
.segunda-lista {
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  padding-left: 45px; 
}
.segunda-lista ul li:nth-child( 2n ) {
  margin-bottom: 20px;
}

.projetos-card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.repositorio-card img {
  width: 20px;
  height: 20px;
}
.repositorios-card {
  display: flex;
}
.repositorio-card {
  background-color: var(--bg-cards);
  border-radius: 20px;
  margin: 30px;
  padding: 30px;
}
.repositorio-card img {
  margin-right: 8px;
  filter: invert(60%) sepia(1%) saturate(6437%) hue-rotate(209deg) brightness(86%) contrast(82%)
}
.repository-1 {
  margin: 0px 15px 0 30px;
}
.repository-2 {
  margin: 0px 30px 0 15px;
}
.repositorio-titulo {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.repositorio-card p {
  margin-bottom: 22px;
}
.star-fork {
  display: flex;
  align-items: center;
}
.star-fork span {
  margin-right: 8px;
}
.bottom-card-content {
  display: flex;
  justify-content: space-between;
}

.recent-posts-card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.post-card {
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 30px;
}
.post-card img {
  margin-right: 20px;
}
.post-card h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 8px;
}
.post-card span {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.post-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

footer {
  margin: 0 auto 10px auto;
  grid-area: footer;
}